body {
    text-align: center;
    background-color: black;
}

.hidden {
  display: none;
}

.logo-div {
  margin-top: -10px;
  margin-bottom: -75px;

}

.logo-svg {
  height: 125px;
  margin-right: -20px;
}
